<form method="POST" action="/search/">
    <div>  <h1>Patient Information</h1> </div>
    <div>{{ form.age.label }} {{form.age(size=20,rows="99") }}
    {{ form.age_unit.label }} {{form.age_unit(size=4) }} </div> <br> <br>
    {{ form.gender.label }} {{ form.gender(size=2) }} <br> 
    <div>{{form.biomarker.label}} {{form.biomarker(rows="20", cols="50")}} </div> <br> <br> 
    <input type="submit" value="Go">
</form>
	{% if results %}
  	<h1> {{ results }}</h1>

	{% else %}
  	<h1>Results not found!</h1>
	{% endif %}

	{{for r in results}}
	<th>age</th>

	<tb>{{r.age}}</tb>
	<tb>{{r.incluse}}</tb>

